<!DOCTYPE html>
<html>
<head><title>Send Invite</title></head>
<body>
  <h2>Send Invitation</h2>
  <form action="/send-invite" method="POST">
    <label>User Email:</label><br/>
    <input type="email" name="email" required /><br/><br/>
    <button type="submit">Send Invite</button>
  </form>
</body>
</html>